<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" th:href="@{/css/common.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/side.css}" type="text/css">
	<script type="text/javascript" th:src="@{/js/bookUtil.js}"></script>
	<script type="text/javascript" th:src="@{/js/logout.js}"></script>
<title>書籍一覧</title>
</head>
<body>
	<div class="replace" th:replace="~{/parts/header_part :: header-fragment}"></div>
	<!--
	<header>
		<div class="logo">
			<a class="logo-link" href="/"><img class="logo-img" src="../img/EBMS_logo2.png" alt="［写真］"></a>
		</div>
		<div class="header-title">sign in</div>
	</header>
	-->
	<div class="outer-container">
		<div class="side-container">
			<div class="side-inner-container">
				<p>テスト。</p>
			</div>
		</div>
		<div class="container">
			<table class="pure-table pure-table-bordered">
				<tbody>
				<tr>
					<td>
						ユーザ名
					</td>
					<td sec:authentication="name">
					</td>
				</tr>
				<tr class="pure-table-odd">
					<td>BASICロール</td>
					<td>
						<span sec:authorize="hasRole('ROLE_BASIC')">〇</span>
						<span sec:authorize="!hasRole('ROLE_BASIC')">×</span>
					</td>
				</tr>
				<tr>
					<td>STAFFロール</td>
					<td>
						<span sec:authorize="hasRole('ROLE_STAFF')">〇</span>
						<span sec:authorize="!hasRole('ROLE_STAFF')">×</span>
					</td>
				</tr>
				<tr class="pure-table-odd">
					<td>ADMINロール</td>
					<td>
						<span sec:authorize="hasRole('ROLE_ADMIN')">〇</span>
						<span sec:authorize="!hasRole('ROLE_ADMIN')">×</span>
					</td>
				</tr>
				<tr>
					<td>ロールリスト</td>
					<td th:text="${role}">
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>